# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
lantern

automated_payloads*




# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# external packages folder
.env
.env_test
.env_test_prod
.env_test_stage
.env_test_local

debug.json

internal/workflow/json/*.json
