## rename this file to .env and update the values
ELASTICSEARCH_VERSION=7.8.0
COMPOSE_PROJECT_NAME=es
CERTS_DIR=/usr/share/elasticsearch/config/certificates
ELASTIC_PASSWORD=ChangeMe
KIBANA_SYSTEM_PASSWORD=PleaseChangeMe