## rename this file to .env and update the values

# Elastic Search & Kibana ENVs
ELASTICSEARCH_VERSION=7.8.0
COMPOSE_PROJECT_NAME=es
CERTS_DIR=/usr/share/elasticsearch/config/certificates
ELASTIC_PASSWORD=ChangeMe
KIBANA_SYSTEM_PASSWORD=PleaseChangeMe

# Lantern ENVs (http)
PLS_ELASTIC_BASIC_AUTH=false
PLS_ELASTIC_URL=http://localhost:9200

# Lantern ENVs (https)
PLS_ELASTIC_BASIC_AUTH=true
PLS_ELASTIC_PASSWORD=$ELASTIC_PASSWORD
PLS_ELASTIC_URL=https://localhost:9200
PLS_VALIDATE_CERTIFICATES=false